<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">


    <servers>
        <server>
            <username>admin</username>
            <password>AKCp8kqqtDtZreb86wzq3BCoHedERYhNaAGoqA5RA1HXXK5VewUGZZBy8FaVvkKJGuRcKGec9</password>
            <id>2fe63900c934-releases</id>
        </server>
        <server>
            <username>admin</username>
            <password>AKCp8kqqtDtZreb86wzq3BCoHedERYhNaAGoqA5RA1HXXK5VewUGZZBy8FaVvkKJGuRcKGec9</password>
            <id>2fe63900c934-snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://172.16.0.33:9288/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://172.16.0.33:9288/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://172.16.0.33:9288/artifactory/libs-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://172.16.0.33:9288/artifactory/libs-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
